@model Hunting_and_Fishing.Models.LogIn
@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Logged in</h2>
<div align="center">
    @Html.ActionLink("Cakni tuk", "RegisterUserInfo","RegisterUserInfo","Views", new { @Id=Model.Id})
    @if (Model.Id!= 256)
    {
        <h1>Bravo na men</h1>
    }
</div>

